@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Gabriela&display=swap');
      
body {
  color: #ffffff;
  background-color: #aa1111;
  text-align: center;
}

h1 {
  font-size: 5em;
  font-family: 'Gabriela', serif;
}

h2, h3 {
  font-family: 'Bodoni Moda', serif;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size 1.5em;
}
