@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Gabriela&display=swap');

body {
  color: #ffffff;
  background-color: #0e3b7e;
  text-align: center;
  font-family: 'Bodoni Moda', serif;
}

img {
  margin-top: 0cm;
  margin-bottom: 0cm;
}

.content {
  margin-top: 0cm;
  margin-bottom: 0cm;
}

h1 {
  font-family: 'Gabriela', serif;
  font-size: 3em;
  margin-bottom: 0;
}

h2 {
  color: #000;
  font-family: 'Gabriela', serif;
  font-size: 2em;
  margin-top: 0;
}

h3 {
  font-size: 1.5em;
}

span {
  font-family: 'Helvetica', serif;
  font-size: 1.2em;
}

a.book {
  color: black;
  text-decoration: none;
  -webkit-transition: opacity 0.9s ease-in-out;
  -moz-transition: opacity 0.9s ease-in-out;
  -ms-transition: opacity 0.9s ease-in-out;
  -o-transition: opacity 0.9s ease-in-out;
  transition: opacity 0.9s ease-in-out;
}

a.book:hover {
  color: gray;
}