@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Gabriela&display=swap');

body {
  color: #ffffff;
  background-color: #0e3b7e;
  text-align: center;
  font-family: 'Bodoni Moda', serif;
}

h1 {
  font-family: 'Gabriela', serif;
  font-size: 5em;
  margin-bottom: 0;
}

h2 {
  color: #ffffff;
  font-style: italic;
  font-size: 2em;
  margin-top: 0;
}

h3 {
  font-size: 1.5em;
}

span {
  font-family: 'Helvetica', serif;
  font-size: 1.2em;
}
